html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	background: url("https://ak.picdn.net/shutterstock/videos/18270121/thumb/1.jpg?ip=x480");

	color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

div {
	width: 100%;
	height: 100%;
	display: flex;
}

img {
	margin-top: 10px;
	width: 670px;
	height: 300px;
	border-radius: 50px;
}
